<footer>
  <div class="row">
    <div class="logo">
      <a href="https://dp6.com.br/">
        <img src="/assets/img/logo-branco.png" height=50 width=160 alt="DP6 logo">
      </a>
    </div>
    <div class="centro-inovacao">
      {/;centro_de_inovação/}
    </div>
    <div class="social">
      <a href="https://www.facebook.com/dp6.com.br" aria-label="Site DP6"><em class="icon fab fa-facebook"></em></a>
      <a href="https://www.linkedin.com/company/dp6/" aria-label="Facebook DP6"><em class="icon fab fa-linkedin"></em></a>
      <a href="https://www.instagram.com/insta_dp6/" aria-label="Instagram DP6"><em class="icon fab fa-instagram"></em></a>
      <a href="https://www.twitter.com/_dp6" aria-label="Twitter DP6"><em class="icon fab fa-twitter"></em></a>
      <a href="https://www.github.com/DP6" aria-label="Github DP6"><em class="icon fab fa-github"></em></a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="copyright" id="dp6-copyright">
      &copy;DP6 2020
    </div>
    <div class="politica">
      <a href="https://dp6.com.br/politica-de-privacidade/">Política de Privacidade</a>
    </div>
    <div></div>
  </div>
</footer>