<footer>
  <div class="row justify-between">
    <div class="logo">
      <a href="https://dp6.com.br/">
        <img src="/assets/img/logo-dp6.png" height=50 width=110 alt="DP6 logo">
      </a>
    </div>
    <div>
      <div class="copyright" id="dp6-copyright">
        DP6&copy; 2020
      </div>
    </div>
    <div class="social">
      <a href="https://www.facebook.com/dp6.com.br" aria-label="Facebook DP6"><em class="icon fab fa-facebook"></em></a>
      <a href="https://www.linkedin.com/company/dp6/" aria-label="Linkedin DP6"><em
          class="icon fab fa-linkedin"></em></a>
      <a href="https://www.instagram.com/somosdp6/" aria-label="Instagram DP6"><em
          class="icon fab fa-instagram"></em></a>
      <a href="https://www.twitter.com/somosdp6" aria-label="Twitter DP6"><em class="icon fab fa-twitter"></em></a>
      <a href="https://www.github.com/DP6" aria-label="Github DP6"><em class="icon fab fa-github"></em></a>
      <a href="https://www.youtube.com/c/DP6br/featured" aria-label="Youtube DP6"><em
          class="icon fab fa-youtube"></em></a>
      <a href="https://open.spotify.com/show/1bzm9magk7HphrTFcQvA0j" aria-label="Spotify DP6"><em
          class="icon fab fa-spotify"></em></a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="politica">
      <a href="https://dp6.com.br/politica-de-privacidade/">Política de Privacidade</a>
    </div>
  </div>
</footer>