<footer>
  <div class="row">
    <div class="logo">
      <a href="https://dp6.com.br/">
        <img src="/assets/img/logo-branco.png" height=50 width=160>
      </a>
    </div>
    <div class="centro-inovacao">
      {/;centro_de_inovação/}
    </div>
    <div class="social">
      <a href="https://www.facebook.com/dp6.com.br"><i class="icon fa fa-facebook"></i></a>
      <a href="https://www.linkedin.com/company/dp6/"><i class="icon fa fa-linkedin"></i></a>
      <a href="https://www.instagram.com/insta_dp6/"><i class="icon fa fa-instagram"></i></a>
      <a href="https://www.twitter.com/_dp6"><i class="icon fa fa-twitter"></i></a>
      <a href="https://www.github.com/DP6"><i class="icon fa fa-github"></i></a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="copyright" id="dp6-copyright">
      &copy;DP6 2020
    </div>
    <div class="politica">
      <a href="https://dp6.com.br/politica-de-privacidade/">Política de Privacidade</a>
    </div>
    <div></div>
  </div>
</footer>