<div class="column">
  <h1>Conheça nossas <span class="primary-text">iniciativas</span></h1>
  <section class="cards-container">


    {% assign repos = site.github.public_repositories | sort: "stargazers_count" | reverse %}
    {% for repository in repos %}

    {% if repository.homepage contains "dp6.github.io/"%}
    <a href="https://dp6.github.io/{{repository.name}}">
      <div class="card">
        <div class="column">
          <figure>
            <img
              src="https://raw.githubusercontent.com/DP6/templates-centro-de-inovacoes/main/public/logos-iniciativas/{{repository.name}}.png"
              alt="logo {{repository.name}}" class="card-logo" />
          </figure>
          <div>

            <img alt="GitHub stars"
              src="https://img.shields.io/github/stars/DP6/{{repository.name}}?style=social&cacheSeconds=3000" />
            <img alt="GitHub forks"
              src="https://img.shields.io/github/forks/DP6/{{repository.name}}?style=social&cacheSeconds=3000" />
          </div>

        </div>
        <div>
          <h2 class="card-title">
            {% assign title = repository.name | replace: '-', ' ' | split: ' ' %}
            {% capture titlecase %}
            {% for word in title %}
            {{ word | capitalize }}
            {% endfor %}{% endcapture %}
            {{ titlecase }}
          </h2>
          <p class="card-subtitle">{{repository.description }}</p>
        </div>
        <div class="actions">
          <div class="primary-text">
            Mais detalhes <em class="fa fa-arrow-right"></em>
          </div>
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}

  </section>

</div>