body{
    font-family: Roboto, sans-serif;
}

a{
  text-decoration: none;
  color: #000;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .card-title {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
  }

  .card-subtitle {
    color: grey;
    font-size: 1em;
    font-weight: 300;
  }

  .icon {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }


  .button {
    background-color: transparent;
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.75px;
    line-height: 36px;
    }

    .action-buttons{
        overflow: hidden;
    }

    .action-buttons .button {
        float: right;
        margin-left: -50%;
    }