.content {
  padding-top: 2em;
  min-height: 200px;
}

.content .initiative {
  padding:  2em 10em 0 10em;
}

@media screen and (max-width: 752px) {
  .content .initiative {
    padding: 2em 0 0 0;
  }
}
