.initiative-header {
  background: var(--light);
  height: 15rem;
  padding: 3em 8em 0 8em;
  display: flex;
  flex-flow: wrap;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.initiative-logo {
  border: 1px var(--shadow) solid;
  width: 300px;
  margin-bottom: -30px;
  background-color: var(--card);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.initiative-header > .initiative-logo > figure {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.initiative-header > .initiative-logo > figure > img {
  width: 160px;
}
.initiative-header > .initiative-logo > a {
  display: flex;
  flex-flow: column;
}
.initiative-options {
  width: 50%;
  color: var(--text-on-color);
  padding: 4em 0 1em 3em;
  display: flex;
  flex-flow: wrap;
  align-items: start;
}
.initiative-options > .row {
  justify-content: start !important;
}
.octocat {
  position: absolute;
  display: flex;
  align-self: flex-end;
  width: 10.2rem;
  opacity: 0.7;
  fill: vat(--dark);
}
.octocat .octocat-arm,
.octocat .octocat-body {
  fill: #f4f5f6;
}
.octocat:hover .octocat-arm {
  animation: b 0.65s infinite;
  transform-origin: 13rem 10.6rem;
}

@keyframes b {
  0%,
  50% {
    transform: rotate(0);
  }
  25%,
  75% {
    transform: rotate(-10deg);
  }
}
.github-status {
  margin-right: 5px;
}

@media screen and (max-width: 850px) {
  .initiative-header {
    height: 20rem;
    padding: 1em 8em 0 8em;
    flex-flow: column;
  }
  .initiative-logo {
    width: 100%;
    height: 160px;
  }
  .initiative-options {
    width: 100%;
    padding: 2em 0 0 0;
  }
}
