@import 'colors.css';
@import 'navbar.css';
@import 'footer.css';
@import 'carousel.css';

@import 'card.css';
@import 'switch.css';

html,
body {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial',
        sans-serif;
    font-size: 14px;
    color: var(--text-on-body);
    line-height: 1.5em;
    background-color: var(--body-bg);
    position: relative;
    min-height: 100vh;
}

.row {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-content: center;
}

.align-around {
    align-content: space-around;
}

.align-between {
    align-content: space-between;
}

main {
    padding-top: 6rem;
    padding-bottom: 5rem;
    display: flex;
    flex-flow: column;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 20px;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.crop {
    height: 300px;
    overflow: hidden;
}

.crop img {
    margin-top: -100px;
}

main a {
    color: var(--text-on-body);
    text-align: center;
    text-decoration: none;
}
