<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCL3F3Z" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include header.html %}
  <main>
    {% if page.path == "index.html" %}
      {% include carousel.html %}
    {% elsif  page.path != "index.html" and page.path != "404.html" %}
      {% include initiative-top.html %}
    {% endif %}
    <section class={% if page.path != "index.html"%} "content initiative" {% endif %} "content">
      {{ content }}
    </section>
  </main>

  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>