<html lang="en">
  {% include head.html %}
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCL3F3Z"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include header.html %}
  <div class="container-geral">
    {% if page.path.size > 1 %}
      {% include initiative-top.html %}
    {% else %}
      {% include carousel.html %}
    {% endif %}
    <section>
      {{ content }}
    </section>
    {% include footer.html %}  
  </div>
  {% include scripts.html %}
</body>
</html>
