<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,400&lang=pt-br">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/assets/css/card_style.css">
</head>

<body>
  {% include header.html %}
  {% include carousel.html %}
  <section>
    {{ content }}
  </section>
  {% include footer.html %}  
</body>
</html>